<form [formGroup]="unidadeForm" novalidate>
  <div class="panel">

    <div class="panel-body">
      <div class="row">


          <div class="col-xs-6">
              <input-container  label="Instituicao">
              <select formControlName="instituicao">
                <option class="form-control" *ngFor="let i of instituicoes" [ngValue]="i"> {{i.nome}}></option>
              </select>
            </input-container>
          </div>

        <div class="col-xs-6">
          <input-container  label="Nome">
          <input type="text" class="form-control" placeholder="Nome" formControlName="nome" autocomplete="off">
        </input-container>
      </div>
   
      
      <div class="col-xs-4">
        <input-container label="Código">
          <input type="text" class="form-control" placeholder="codigo" formControlName="codigo" autocomplete="off">
        </input-container>
      </div>

      <div class="col-xs-6">
        <input-container label="Bairro">
          <input type="text" class="form-control" placeholder="Bairro" formControlName="bairro" autocomplete="off">
      </input-container>
      </div>

      <div class="col-xs-4">
        <input-container label="Logradouro">
          <input type="text" class="form-control" placeholder="Logradouro" formControlName="logradouro" autocomplete="off">
      </input-container>
      </div>

      <div class="col-xs-4">
        <input-container label="Numero">
          <input type="text" class="form-control" placeholder="Numero" formControlName="numero" autocomplete="off">
      </input-container>
      </div>

      <div class="col-xs-4">
        <input-container label="CaixaPostal">
          <input type="text" class="form-control" placeholder="Caixa postal" formControlName="caixaPostal" autocomplete="off">
      </input-container>
      </div>

      <div class="col-xs-4">
        <input-container label="País">
          <input type="text" class="form-control" placeholder="País" formControlName="pais" autocomplete="off">
      </input-container>
      </div>

      <div class="col-xs-4">
          <input-container label="NumeroFiscal">
            <input type="text" class="form-control" placeholder="Numero fiscal" formControlName="numeroFiscal" autocomplete="off">
          </input-container>
        </div>

        <div class="col-xs-4">
          <input-container label="Provincia">
            <input type="text" class="form-control" placeholder="Provincia" formControlName="provincia" autocomplete="off">
        </input-container>
        </div>

        <div class="col-xs-4">
          <input-container label="Municipio">
            <input type="text" class="form-control" placeholder="Municipio" formControlName="municipio" autocomplete="off">
        </input-container>
        </div>

  </div>
</div> 

    <div class="panel-footer">
      <button (click)="salvar(unidadeForm.value)" [disabled]="!unidadeForm.valid" class="btn btn-success">
        Salvar
      </button>
      <button [routerLink]="['/unidade/']" class="btn btn-default">
        Voltar
      </button>
    </div>
  </div>
</form>


<pre>{{ unidadeForm.value | json }}</pre>
<!-- <p>Paises value: {{ paises | json }}</p> -->